# Dependencies
node_modules/
/frontend/node_modules
/.pnp
.pnp.js
venv/
__pycache__/
*.pyc

# Testing
/frontend/coverage

# Production/Build
/frontend/build
/frontend/dist
/build

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.db
*.sqlite3

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store